@import 'vars';
@import 'typography';

body {
  .area-list {
    padding: 20px;
    overflow: hidden;
    z-index: 0;
    ul {
      overflow: hidden;
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        height: 115px;
        margin-bottom: 30px;
        h2 {
          margin: 0;
        }
        button {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .area-cart {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    width: 70%;
    height: 100vh;
    z-index: 1;
    &.collapsed {
      width: 10%;
      button.toggle-cart {
        position: absolute;
        left: 15px;
        z-index: 2;
        display: block;
      }
      h2, h3 {
        display: none !important;
      }
      button {
        display: none;
      }
    }
    h2.bag {
      font-size: 30px;
      color: white;
      display: block;
      text-align: center;
    }
    ul {
      overflow: hidden;
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        color: white;
        button {
          background-color: red;
          border: 0;
        }
      }
      small {
        font-size: 16px;
        color: white;
        margin-top: 40px;
      }
    }
  }
}
