<div class="area-list">
  <ul>
    <li class="col-xs-4" ng-repeat="item in home.products">
      <h2>{{item.title}}</h2>
      <h3>
        <span>{{item.currencyFormat}}</span>
        <span>{{item.price}}</span>
      </h3>
      <button type="button" ng-click="home.addToCart(item)">Adicionar ao carrinho</button>
    </li>
  </ul>
</div>

<div class="area-cart" ng-show="home.myCartItems.length" ng-class="{'collapsed' : collapsed}">
  <button class="toggle-cart" ng-click="collapsed = !collapsed">
    <span ng-show="!collapsed">Fechar</span>
    <span ng-show="collapsed">Abrir<span>
  </button>
  <h2 class="bag">Sacola</h2>
  <ul>
    <li class="col-xs-12" ng-repeat="item in home.myCartItems track by $index">
      <h2>{{item.title}}</h2>
      <h3>
        <span>{{item.currencyFormat}}</span>
        <span>{{item.price}}</span>
      </h3>
      <button type="button" ng-click="home.removeFromCart(item)">Remover</button>
    </li>
    <small class="col-xs-12">Total: R${{home.getTotal('price')}}</small>
  </ul>
</div>
